.container {
    position: relative;
}

.gradient {
    z-index: 0;
    width: 100%;
    height: 650px;
    position: absolute;
    opacity: 0.8;
    background-image: radial-gradient(circle farthest-corner at center, #ababab 0%, #848484 100%)
}

.headerImage {
    height: 650px;
    width: 100%;
    display: block;
    background-image: url('/assets/header8.jpg');
    background-repeat: no-repeat;

  background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}


.imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

#header {
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
    margin: 10px;
}

.text-block h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 9rem;
    font-weight: 600;
    margin-bottom: -20px;
    text-align: center;
    position: relative;
    color: #555B6E;
    margin-top: 0px;
}

.text-block h4 {
    font-family: 'Great Vibes', cursive;
    font-size: 2rem;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    position: relative;
    color: #b1d3f3;
}



@media screen and (max-width: 768px){
    .text-block h1{
      font-size: 7rem;
      font-weight: 600px;
    }
  }
  
  
  @media screen and (max-width: 600px){
    .text-block h1{
      font-size: 5rem;
      font-weight: 600px;
    }
  
  }