.registry{
    background:#ffffff;
    padding:50px;
    width: 500px;
}
.registry p{
    line-height: 1.4;
    margin-bottom: 5px;
}
.registry h4{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 17px;
    color: #3D518C;
    margin-bottom: 5px;
    margin-top: 30px;
}

.registry a{
    font-weight: 700;
}

.header-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.block-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

.hotel{
    font-size: 13px;
    margin-top:2px;
    margin-bottom:2px;
}