
.about-us{
    padding: 80px;
}

.about-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about{
  width: 50%;
  padding: 50px;
}

#tree{
    width: 400px;
    background: white;
    margin: 0 15px 30px;
    padding: 15px 15px 45px;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
    box-shadow: 0 4px 6px rgba(0,0,0,.3);
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    transition: all .15s linear;
    z-index:0;
        position:relative;
    -webkit-transform: rotate(4deg);  
    -moz-transform: rotate(4deg); 
    transform: rotate(4deg);
}


#plant-about{
    position: absolute;
    left:20px;
    opacity: .09;
}


#aboutUsRow{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about p{
    line-height: 1.2;
}


.image {
    justify-content: center;
    align-items: center;
    display: flex;
}

.spanColor{
    color: #A7BED3;
    font-weight: 600;
}

.quote{
    font-style: italic;
}


/*MEDIA QUERIES */
@media screen and (max-width: 768px){
    #aboutUsRow{
        flex-wrap: wrap;
    }

    #tree{
        -webkit-transform: rotate(0deg);  
        -moz-transform: rotate(0deg); 
        transform: rotate(0deg);
        width: 100%;
    }


.about-us{
    padding: 10px;
}

.about{
    width: 100%;
}
  
  }